h5{ color: rgba(108, 27, 247, 0.564); }
/* CSS 주석 */
/* (html)마크업에 스타일 적용 문법 */
/*
    선택자{ 속성명 : 속성값; 속성명 : 속성값 }
    선택자 종류
        1. * : 와일드카드(전체)
        2. h4 : 특정 마크업명
        3. .className : 특정 클래스명 지정 ( 복수 )
        4. #id : 특정아이디명 지정         ( HTML 단일 )
        ...

    선택자 우선순위
        만약에 동일한 속성이 중복이면 
        * < 특정 마크업 < className < #id < 인라인
        - 만일 동일한 수준이면 아래에 구성한 CSS 적용한다.
        - <마크업 style="CSS문법"> 우선 적용한다.
*/

*{ color: skyblue; }
h6{ color: aqua;}
.구역1{ color: blueviolet;}
#구역2{ color: black;}
#구역2{ color: brown;}
