.title{
    font-family: "궁서";
    font-style: italic;
}

.content {
    font-family: "Jua", sans-serif;
    font-weight: 900;
    font-style: normal;
    word-spacing: 80%;
    letter-spacing: 10px;
    color: blue;
}

.subtitle{
    color: red;
    text-decoration: underline line-through overline;
}
.bold{
    font-size: 30px;
    font-weight: 900;
}