.yellow{
    color: rgb(238, 238, 7);
    font-size: 30px;
}
.bold{
    color: yellow;
}
.box1{
    background-color:rgb(5, 199, 125);
    color: white;
    width: 500px;
}
.img1{
    width: 300px;
    height: 400px;
}