
/* 전체 레이아웃 확인 => 추후에 완성후 제거 예정 */
*{
    border: 1px solid red;
}

#header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.top-menu{
    display: flex;
    justify-content: end;
    margin: 10px 0px;
}
.main-menu{
    display: flex;
    justify-content: end;
    margin: 10px 0px;
}
.main-menu > li > a{ font-size: 30px;}
#main {
    width: 1280px;
    margin: 0 auto;
}

/* 자주 사용되는 기본css */
*{
    box-sizing: border-box;  /* content+padding 포함 사이즈 정의 */
    padding: 0px; margin: 0px; /* 기본 여백 제거 */
}
a{
    text-decoration: none;  /* 하이퍼링크 밑줄 제거 */
    color: black; /* 하이퍼링크 색상 결정 */
}
li{ list-style-type: none;} /* li 항목 글머리 제거 */