*{
    text-align: center;
}
.a{

    background-color: pink;
    width: 500px;
    height: 800px;

}
.header{
    border: solid 3px white;
    border-radius: 30px;
    width: 400px;
    height: 50px;
    margin: 20px auto;
    line-height: 10px;
}
.racoon{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    margin: 20px 0px;
}
.block{
    border-radius: 20px;
    background-color: rgb(129, 171, 243);
    width: 440px;
    height: 80px;
    margin: 20px auto;
    color: white;
    line-height: 80px;
    font-weight: 600;
}