/* 자주 사용되는 기본css */
*{
    box-sizing: border-box;  /* content+padding 포함 사이즈 정의 */
    padding: 0px; margin: 0px; /* 기본 여백 제거 */
}
a{
    text-decoration: none;  /* 하이퍼링크 밑줄 제거 */
    color: black; /* 하이퍼링크 색상 결정 */
}
li{ list-style-type: none;} /* li 항목 글머리 제거 */
/* ===================== */
#wrap {
    width: 650px;
    height: 500px;
    background-color: gray;
    padding: 30px;
}

#box1 {
    position: relative;
    top: 85%;
    left: 85%;
    font-weight: bold;
    font-size: 30px;
    background-color: black;
    color: white;
    width: 75px;
    height: 75px;
    text-align: center;
    border-radius: 100%;
    line-height: 70px;
}

#sub { 
    color: white;
    position:absolute;
    left: 8%;
    bottom: 100%;
    width: 50px;
    display: none;
    font-size: 20px;
}
#sub li {
    border-radius: 100%;
}

#box2 {
    background-color: blue;
}

#box3 {
    background-color: green;
}

#box4 {
    background-color: orange;
}

#box5 {
    background-color: purple;
}

#wrap > #box1:hover #sub{ display: block; }

#sub ul li {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 55px;
    margin-bottom: 10px;
}