.imgBox{
    width: 300px; height: 300px;
    border: 1px solid red; margin-bottom: 20px;
}
/* width 설정하지 않으면 자동으로 기본값 100%, 
단, 이미지/비디오 제외되며 원본 크기를 따라감 */
.imgBox > img { width: 100%; height: 100%; }
/* 이미지의 경우 가로세로 사이즈를 설정하면 비율이 깨질 수 있다. */

.img1{ object-fit: fill; } /* (기본값) 영역채움/비율 무시 */
.img2{ object-fit: contain; } /* 전체 영역이 보이도록 비율 유지 */
.img3{ object-fit: cover; } /* 영역 채우면서 비율 유지, 일부 짤림 */
.img4{ object-fit: none; } /* 이미지 사이즈 조정 없이 그대로 출력 */
.img5{ object-fit: cover; object-position: left;}
.img6{ object-fit: contain; object-position: right;}