
.전체{
    background-color: rgb(201, 199, 199);
    width: 600px;
    height: 800px;
}
.음료종류{
    display: flex;
    border: solid 1px black;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
    flex-wrap: nowrap;
}
.메뉴, .현재메뉴{
    font-size: 40px;
    border: solid 1px black;
    width: 200px;
    text-align: center;
}
.현재메뉴{
    background-color: rgb(254, 127, 127);
}

.메인{
    margin: 20px;
    background-color: white;
    width: 560px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 184px;
    text-align: center;
    border: solid 1px black;
}
.사진{
    width: 184px;
    height: 120px;
}
.고른메뉴{
    border: solid 3px black;
    width: 560px;
    margin: 20px 20px 20px 20px;
    background-color: white;
    text-align: center;
}
.box2{
    border: solid 1px black;
    word-spacing: 16px;
    height: 50px;
    font-size: 25px;
}
.red{
    color: red;
}





.info{
    width: 500px;
}

.box1{
    display: flex;
    width: 560px;
    border: 1px solid gray;
    margin: 20px;
    justify-content: center;
}
.bu1 , .bu2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: auto;
    line-height: 17px;
}
.bu1{
    background-color: hotpink;
}
.bu2 {
    background-color: cornflowerblue;
}
.center{
    width: 300px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.row1, .row2{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid gray;
}
